.max-stats-card {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    padding: 1rem;

    border-radius: 20px;
    /* background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */

    margin-left: 15%;

    color: white;
}

.max-stats-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    gap: 1rem;
    margin: 0.25rem 0;
}

.max-stats-label {
    font-size: 1cqw;
    opacity: 0.75;
}

.max-stats-value {
    font-size: 1cqw;
    font-weight: 600;
}

.max-stats-units {
    font-size: 0.75rem;
    margin-left: 0.3rem;
    opacity: 0.7;
}